* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

html { 
  background: url(/img/iron-glory-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logoPlace {
height: 400px;
width: 400px; 
position: fixed;
right: 25px;
bottom: 25px;

}

.is-parent{

}

.card {
    background: #ffffff;
    border: 1px solid #FAF9F5;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    margin-bottom: 30px;
    min-height: 200px;
    margin-bottom: 20px;
    max-width: 200px;
}

.image {
    top: 30px;
    left:35px;
}

.is-primary {
    background-color:rgba(192,192,192,0.3);

}

.is-warning {
    background-color: deeppink;

}