* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

html { 
  background: url(/img/iron-glory-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logoPlace {
height: 400px;
width: 400px; 
position: fixed;
right: 25px;
bottom: 25px;

}